@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
html, body {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: device-width;


}
ul {
  list-style-type: none;
  width: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  overflow: hidden;  
}

#header {
  width: device-width;
  text-align: left;
  background-color: black;
  padding: 25px;

}

.header a{
  color: white;
  float: right;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;

}
.header a:hover{
  color: grey;
  transition: color 200ms ease-out 30ms;
}

.header a.active {
   animation: jump 1s linear infinite;
}
@keyframes jump {
  0%{ transform: translateY(0%); }
  25% {transform: translateY(25%);}
  75% {transform: translateY(-25%);}
  100% {transform: translateY(0%);}
}


.inner {
  padding: 60px;
  position: relative;
}

.major {
  float: left;
  padding-left: 55px;
  font-size: 70px;
  text-align: left;
  font-weight: 100;
  position: relative;
}

.subtitle {
  position: relative;
  text-align: left;
  padding: 30px;
  bottom: -90px;
}
.docimages {
  display: grid;
  font-size: 25px;
  font-weight: 100;
  margin-right: auto;
  margin-left: auto;

}
.docimages img{
  width: 400px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.docimages a{
  margin-right: auto;
  margin-left: auto;
}

.docimages a:hover{
 animation: zoom 0.8s forwards;
}

@keyframes zoom {
  0% {transform:scale(1.0) ;}
  100% {transform: scale(1.1);}
}


.dis {
  position: relative;

}
.photo img{
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  padding: 1vw;

  
}
.photo{
  position: absolute;
  margin: auto;

}
.camera img{
  width: 66%;
  max-width: 600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 1vw;
}

